.a {
    margin-top: 50px;
    margin-left: 20px;
    width: 200px;
    height: 100px;
    background: lightyellow;
    transform: rotate(-40deg);
}

.b {
    margin-top: 100px;
    width: 200px;
    height: 100px;
    background: lightcoral;
    transform: skewY(-20deg);
}