div {
    width: 100px;
    height: 50px;
    font-weight: bold;
    position: relative;
    animation: rahil-keyfran; 
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  
#VER {
    background-color: #cdcdff;
    animation-timing-function: linear;
}
  
#VET {
    background-color: #90EE90;
    animation-timing-function: ease;
}
  
#HAM {
    background-color: #00cdcd;
    animation-timing-function: ease-in;
}
  
#RAI {
    background-color: #C4AEAD;
    animation-timing-function: ease-out;
}
  
#LEC {
    background-color: #FF7F7F;
    animation-timing-function: ease-in-out;
}
  
@keyframes rahil-keyfran {
    from {
        left: 0px;
    }
    to {
        left: 300px;
    }
}