.box {
    margin-left: 20px;
    margin-top: 80px;
    background-color: lightgrey;
    width: 300px;
    border: 15px solid blue;
    padding-left: 50px;
    padding-right: 25px;
    padding-top: 50px;
    padding-bottom: 100px;
  }