body{
    font-family: 'Courier New', Courier, monospace;
}
h1{
    text-align: center;
}
h2{
    text-align:center;
}
.circle{
    width:100px;
    height: 100px;
    border-radius: 50%;
    float:left;
    margin: 40px;
}
.clear{
    clear: both;
}
.circles_div{
    display: flex;
    justify-content: center;
    
}
#red{
    background-color: red;
}
#blue{
    background-color: blue;
}
#yellow{
    background-color: yellow;
}
#violet{
    background-color: purple;
}
#green{
    background-color: green;
}
#orange{
    background-color: orange;
}
#colour_wheel{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 250px;
}